@media screen and (max-width: 695px) {
  .navigation {
    width: 80%;
  }
  .hover_effects:hover {
    transition: 2s;
    background: #1ad;
    height: 100%;
    opacity: 1;
   }
  .hidden{
    display: none;
  }

  .btn {
    margin: 0 150px;
    width: 70%;
  }
  .title {
    font-size: 45px;
  }
  .features img{
    display: flex;
    justify-content: center;
    width:750px;
  }
  .cards {
    padding-left: 10%;
  }
  .gallery-items {
    display: flex;
    flex-direction: column;
    justify-self: center;
    width: 100%;
  }
  .position  {
    padding-left: 7px;
  }
  .hidelite {
    display: none;
  }
  .team {
      padding-left: 5%;
  }
  .diagram {
    margin-top: 10%;
  }
  .portfolio {
    margin-bottom: 180px;
  }
  .stats {
    padding-left: 21%;
  }
}


@media screen and (max-width: 767px) {
  .About img{
    width: 800px;
    height: 700px;
  }

  .portfolio {
    margin-bottom: 180px;
  }
  .item {
    margin-bottom: 20px;
    flex-direction: row;
    flex-wrap: wrap;

  }
  .hide {
    display: none;
  }

  .teams {
    flex-wrap: wrap;
  }

  .item, .web_design, .jx_design, .photo {
    display: flex;
    flex-direction: column;
    width: 100%;
  }
  .diagram {
    margin-top: 1%;
  }

}

@media screen and (max-width: 992px) {
  .portfolio {
    margin-bottom: 150px;
  }
  .hide {
    display: none;
  }
  .gallery {
    padding-left: 15%;
  }
  .team {
    margin-bottom: 1%;
  }
  .stats img{
    width: 65%;
    padding-left: 12%;
  }
}